table {
  border-collapse: collapse;
  padding: 10px;
  margin: 10px;
  width: 100%;
}
td,
th {
  padding: 10px;
  margin: 5px;
}
button {
  border: 1px solid grey;
  background-color: hotpink;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
}
