h1{
    color: red;
}
#header{
    background-color: red;
    width: 100%;
    height: 200px;
}

#footer{
    background-color: orange;
    width: 100%;
    height: 100px;
    clear: both;
}

#sidebar{
    background: palegreen;
    width: 20%;
    height: 600px;
    float: left;
}

#section1{
    background-color: purple;
    width: 80%;
    float: left;
    height: 200px;
}
#section2{
    background-color:teal;
    width: 80%;
    float: left;
    height: 200px;
}
#section3{
    background-color:sandybrown;
    width: 80%;
    float: left;
    height: 200px;
}